<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Basic to-do app in Backbone.js</title> 
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

  <section id="todoapp">
    <header id="header">
      <h1>Chatterbox</h1>
      <h3>Double click to edit a sent message :)</h3>
        <!--
        <div>
        <a href="#/">show all</a> |
        <a href="#/pending">show pending</a> |
        <a href="#/completed">show completed</a>
        </div>
      -->
      
    </header>
    <section id="main">
       <input id="new-author" placeholder="Your name" >
      <ul id="todo-list"></ul>
    </section>

    <textarea id="new-todo" placeholder="Type your message here." rows="10" cols="50"></textarea>

  </section>

<!-- template --> 
<script type="text/template" id="item-template">
  <div class="view">
    <h6><%- author %>:</h6>
    <p>
      <%- title %>
      <button class="destroy">x</button>
    </p>
    <input class="edit" value="<%- title %>">
    
  </div>

</script>



<!-- jQuery + Underscore + Backbone -->
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/underscore/underscore-min.js"></script>
  <script src="bower_components/backbone/backbone.js"></script>
  <!-- Firebase -->
  <script src="bower_components/firebase/firebase.js"></script>
  <!-- BackboneFire -->
  <script src="bower_components/backbonefire/dist/backbonefire.min.js"></script> 
  <script src="script.js"></script>
  </body>
</html>