<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Basic to-do app in Backbone.js</title> 
  <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
</head>
  <link rel="stylesheet" type="text/css" href="style.css">

<body>
<div class="container">
  <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Chatterbox</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right">
            <div class="form-group">
              <input type="text" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

  <section id="todoapp">
    <header id="header">
     
        <!--
        <div>
        <a href="#/">show all</a> |
        <a href="#/pending">show pending</a> |
        <a href="#/completed">show completed</a>
        </div>
      -->
      
    </header>
    <section id="main">
       <input id="new-author" placeholder="Your name" class="form-control small">
      <ul id="todo-list"></ul>
    </section>

    <textarea id="new-todo" placeholder="Type your message here." rows="5" cols="80" class="form-control medium"></textarea>
     <p>Double click to edit a sent message :)</p>
  </section>

<!-- template --> 
<script type="text/template" id="item-template">
  <div class="view">
    <h5><%- author %>:</h5>
    <div class="message">
    <p class="bubble">
      <%- title %>
    </p>
    <button class="destroy btn btn-default btn-xs"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
    <input class="edit" value="<%- title %>">
    </div>
  </div>

</script>
</div> <!-- close container --> 


<!-- jQuery + Underscore + Backbone -->
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/underscore/underscore-min.js"></script>
  <script src="bower_components/backbone/backbone.js"></script>
  <!-- Firebase -->
  <script src="bower_components/firebase/firebase.js"></script>
  <!-- BackboneFire -->
  <script src="bower_components/backbonefire/dist/backbonefire.min.js"></script> 
  <script src="script.js"></script>
  </body>
</html>