body {
 	margin-top: 70px;
 }

/*
* Thanks to Daniel Perez Alvarez for this GitHub-style ribbon
* Tutorial at http://unindented.org/articles/github-ribbon-using-css-transforms/
*/
.ribbon {
  z-index: 1;
  background-color: #5cb85c;
  overflow: hidden;
  white-space: nowrap;
  position: absolute;
  right: -40px;
  top: 30px;
  -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-box-shadow: 0 0 10px #888;
     -moz-box-shadow: 0 0 10px #888;
          box-shadow: 0 0 10px #888;
}
.ribbon a {
  border: 1px solid #ADFF17;
  color: #ADFF17;
  display: block;
  font: bold 81.25% 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 1px 0;
  padding: 10px 50px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 0 5px #444;
}

 #todoapp ul {
      list-style-type: none; /* Hides bullet points from todo list */
      padding: 0;
}
#todo-list input.edit {
  display: none; /* Hides input box*/
}
#todo-list .editing .bubble {
  display: none; /* Hides label text when .editing*/
}    
#todo-list .editing input.edit {
  display: inline; /* Shows input text box when .editing*/
}

.navbar-brand {
	font-size: 30px;
	color: #5cb85c;
	font-weight: 700;
}

.navbar-inverse {
  z-index: 0;
  background-color: #9BE220;
  border-color: #81CB00;
}

.navbar-inverse .navbar-brand {
  color: #5cb85c;
}

.form-control.small {
	max-width: 40%;
	margin-bottom: 15px;
}
 
p.muted {
	color: #777;
}
.message {
	position: relative;
}

button.destroy {
  position: absolute;
  right: -36px;
  top: 8px;
}

button.destroy:hover, button.destroy:focus {
	background-color: #fff;
}

.glyphicon-trash:hover, .glyphicon-trash:focus {
	color: #fc8080;
}

.bubble {
	background-color: #E2E2E2;
	border-radius: 20px;
	box-sizing: border-box;
	margin-bottom: 20px;
	padding: 8px 30px;
	position: relative;
	width: auto;
	max-width: 100%;
	word-wrap: break-word;
}

.bubble:before, .bubble:after {
	border-radius: 20px / 10px;
	content: '';
	display: block;
	position: absolute;
}

.bubble:before {
	border: 8px solid transparent;
  	border-bottom-color: #E2E2E2;
	bottom: 0;
	left: 2px;
	z-index: -2;
}

.bubble:after {
	border: 8px solid transparent;
	border-bottom-color: #E2E2E2;
	bottom: 0px;
	left: -3px;
}