 #todoapp ul {
      list-style-type: none; /* Hides bullet points from todo list */
}
#todo-list input.edit {
  display: none; /* Hides input box*/
}
#todo-list .editing label {
  display: none; /* Hides label text when .editing*/
}    
#todo-list .editing input.edit {
  display: inline; /* Shows input text box when .editing*/
}   